<table class="table mt-5">
  <thead>
    <tr class="c-delivery-address-list-name">
      <th scope="col" class="c-delivery-address-table-column">郵便番号</th>
      <th scope="col" class="c-delivery-address-table-column">住所</th>
      <th scope="col" class="c-delivery-address-table-column">宛名</th>
      <th scope="col" class="c-delivery-address-table-button"></th>
      <th scope="col" class="c-delivery-address-table-button"></th>
    </tr>
  </thead>
  <tbody>
    <% delivery_addresses.each do |delivery_address| %>
      <tr class="c-delivery-address-list-text">
        <td><%= delivery_address.post_code %></td>
        <td><%= delivery_address.address %></td>
        <td><%= delivery_address.name %></td>
        <td><%= link_to "編集", edit_delivery_address_path(delivery_address.id), class: "c-delivery-address-button" %></td>
        <td><%= link_to "削除", delivery_address_path(delivery_address.id), method: :delete, class: "c-delivery-address-button", data: {confirm: "本当に削除しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>