<%# 商品一覧テーブル %>
<div class='row mt-3'>
  <div class='col'>
    <table class='table'>
      <thead>
        <tr class="c-cart-product-index-text">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="c-cart-product-index-tbody">
        <% cart_products.each do |cart_product| %>
          <tr>
            <td>
              <% product = Product.find(cart_product.product_id) %>
              <%= attachment_image_tag product, :image, size:'40x40', fallback: "sample.png" %>
              <%= product.name %>
            </td>
            <td><%= get_price_including_tax(cart_product).to_s(:delimited) %></td>
            <td>
              <%= form_with model: cart_product, url: cart_product_url(cart_product), remote: true do |f| %>
                <div class="row">
                  <div class="col-3">
                    <%= f.text_field :product_quantity, id: "product_quantity__input", class: "form-control" %>
                  </div>
                  <button type="submit" class="c-cart-products-index-button">変更</button>
                </div>
              <% end %>
            </td>
            <td><%= get_subtotal(cart_product).to_s(:delimited) %></td>
            <td>
              <%= link_to cart_product_path(cart_product), method: :delete, remote: true, data: {"turbolinks" => false} do %>
                <button type="button" class="c-cart-products-index-delete-button">✖︎削除する</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# "買い物を続ける"ボタン & 合計金額 %>
<div class='row mt-3'>
  <div class='col'>
    <a class="c-cart-products-index-button" href="/" role="button">買い物を続ける</a>
  </div>
  <div class='col'>
    <table class='table table-bordered border-primary'>
      <tr>
        <th class='c-cart-product-index-text'>合計金額</th>
        <td class="c-cart-product-index-tbody"><%= get_total(cart_products).to_s(:delimited) %></td>
      </tr>
    </table>
  </div>
</div>
