<div class="container-fluid c-order-container">
  <div class="row">
    <div id="success-message"></div>
    <div class="col-md-6">
      <h3 class="c-order-title">注文履歴詳細</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="c-order-index-text">注文日</th>
            <td class="c-order-index-tbody"><%= @order.created_at %></td>
          </tr>
          <tr>
            <th class="c-order-index-text">配送先</th>
            <td class="c-order-index-tbody"><%= @order.post_code %>&nbsp;&nbsp;<%= @order.address %>&nbsp;&nbsp;<%= @order.name %></td>
          </tr>
          <tr>
            <th class="c-order-index-text">支払方法</th>
            <td class="c-order-index-tbody"><%= @order.payment_method == 0 ? "銀行振込" : "クレジットカード" %></td>
          </tr>
          <tr>
            <th class="c-order-index-text">注文ステータス</th>
            <td class="c-order-index-tbody">
              <%= @order.display_order_status %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3 class="c-order-title">請求情報</h3>
      <table class="table table-bordered">
        <tr>
          <th class="c-order-index-text">商品合計</th>
          <td class="c-order-index-tbody"><%= @order.total_billing.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="c-order-index-text">配送料</th>
          <td class="c-order-index-tbody"><%= @order.shipping.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="c-order-index-text">ご請求額</th>
          <td class="c-order-index-tbody"><%= @order.total_billing_included_shipping.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6">
      <h3 class="c-order-title">注文内容</h3>
      <!-- 注文商品一覧 -->
      <table class="table table-bordered">
        <thead class="c-order-index-text">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody class="c-order-index-tbody">
          <% @order_products.each do |order_product| %>
            <tr>
              <td><%= order_product.product.name %></td>
              <td><%= order_product.price %></td>
              <td><%= order_product.product_quantity %></td>
              <td><%= order_product.subtotal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>