<div class='container-fluid p-5'>
  <div class='row'>
    <!-- ジャンル検索機能 -->
    <div class="col-md-2">
      <%= render 'customer/genres/genre-search', genres: @genres %>
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <!-- 商品画像 -->
            <div class="c-products-image-wrapper">
              <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", size: "280x280", class: "img-fluid" %>
            </div>
          </div>
          <div class="col-md-6 c-products-box">
            <% if flash[:notice] %>
              <div class="alert error-message" role="alert">
                <ul>
                  <li class="error-message-list"><%= flash[:notice] %></li>
                </ul>
              </div>
            <% end %>
            <div class="ml-4">
              <div class="c-products-text">
                <!-- 商品名 -->
                <div>
                  <h2><%= @product.name %></h2>
                </div>
                <!-- 商品説明 -->
                <div class="mt-3">
                  <%= @product.introduction %>
                </div>
                <!-- 価格 -->
                <div class="mt-3">
                  ¥<%= @product.price.to_s(:delimited) %>
                  <span class="c-products-text-small">(税込)<span>
                </div>
              </div>
              <!-- カートに入れるボタン -->
              <div class="c-products-box-item">
                <%= form_with model: @cart_product, url: cart_products_url, local: true do |f| %>
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.select :product_quantity, options_for_select((1..10).to_a), {include_blank: "個数選択"}, {class: "c-products-select"} %>
                  <%= button_tag :type => "submit", :class =>"c-products-btn ml-2" do %>
                    <span class="c-products-btn-text">カートに入れる<i class="fas fa-cart-plus"></i></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
