<div class="container-fluid px-5 a-product-container">
  <%= render 'layouts/error', obj: @product %>
  <div class="row">
    <div class="col-md-6 px-0">
      <h3 class="a-product-title">商品編集</h3>
    </div>
  </div>
  <%= form_with model: @product, url: admin_product_path, local:true do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="a-product-image-wrapper">
          <div class="a-product-image-content">
            <%= attachment_image_tag @product, :image, fallback: "sample_cake2.jpg", id: "img", class: "img-fluid" %>
          </div>
        </div>
        <div class="a-product-image-btn-wrapper">
          <div class="a-product-image-btn">
            画像アップロード
            <%= f.attachment_field :image, placeholder: "商品画像", id: 'product-img' %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><label>商品名</label></td>
              <td><%= f.text_field :name, autofocus: true, class: "form-control a-product-input" %></td>
            </tr>
            <tr>
              <td><label>商品説明</label></td>
              <td><%= f.text_area :introduction, autofocus: true, class: "form-control a-product-input" %></td>
            </tr>
            <tr>
              <td><label>ジャンル</label></td>
              <td><%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] }, { include_blank: "--選択してください--" }, { class: "form-control a-product-select" } %></td>
            </tr>
            <tr>
              <td><label>税抜き価格</label></td>
              <td><%= f.text_field :price, autofocus: true, class: "form-control a-product-input" %></td>
            </tr>
            <tr>
              <td><label>販売ステータス</label></td>
              <td><%= f.select :on_sale_status, [["販売中", TRUE],["売り切れ", FALSE]], { include_blank: "--選択してください--" }, { class: "form-control a-product-select" } %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="a-product-register-btn-wrapper">
      <%= f.submit '変更を保存',class: "a-product-button"%>
    </div>
  <% end %>
</div>