
<div class="container">
  <div class="row">
    <div class="col-12 mt-4 text-right">
      <%= link_to new_admin_product_path do %>
        <button type="button" class="btn btn-lg btn-secondary rounded-circle p-0" style="width:3rem;height:3rem;">＋</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>商品一覧</h4>
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
         <tbody>
           <% @products.each do |product| %>
             <tr>
               <td><%= product.id %></td>
               <td><%= link_to product.name, admin_product_path(product)  %></td>
               <td><%= converting_to_jpy(product.price)%></td>
               <td><%= product.genre.name%></td>
               <td>
                 <% if product.on_sale_status == TRUE %>
                   <%= "販売中" %>
                 <% else %>
                   <%= "販売停止中" %>
                 <% end %>
               </td>
             </tr>
           <% end %>
         </tbody>
       </table>
      <%= paginate @products %>
    </div>
  </div>
</div>