<div class="container">
  <div class="row">
    <div class="col-9">
      <h2 class="mt-5"><%= @customer.full_name %>さんの会員情報編集</h2>
      <!-- TODO: 編集エラー時の処理 -->
      <% if @customer.errors.present? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @customer, url: admin_user_path, local: true do |f| %>
        <table class="mt-5">
          <thead>
            <tr>
              <th width="150"></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td>氏名</td>
              <td><%= f.text_field :family_name, autofocus: true, class: "form-control" %></td>
              <td><%= f.text_field :first_name, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :family_name_kana, autofocus: true, class: "form-control" %></td>
              <td><%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :post_code, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td colspan="3"><%= f.text_field :address, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :phone_number, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td>
                <%= f.radio_button :is_active, true, class: "d-inline-block" %>
                <%= f.label :is_active, "有効", {value: true, style: "display: inline-block;"} %>
                <%= f.radio_button :is_active, false, class: "d-inline-block" %>
                <%= f.label :is_active, "退会済み", {value: false, style: "display: inline-block;"} %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <%= f.submit "変更を保存する", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>