<div class='container-fluid'>
  <!-- タイトル -->
  <div class='row mt-3'>
    <div class="col">
      <h2 class="c-genres-title"><%= @genre.name %>一覧（全<%= @genre.products.count %>件）</h2>
      <p class="c-genres-title c-genres-title-sub">Products</p>
    </div>
  </div>
  <!-- ジャンル検索機能 & ジャンル内商品一覧テーブル -->
  <div class='row mt-3'>
    <div class="col-md-2">
      <%= render 'customer/genres/genre-search', genres: @genres %>
    </div>
    <div class="col-md-10">
      <div id="product">
        <div class="row">
          <% @genre.products.each do |product| %>
            <div class="col-md-3 mb-3">
              <%= link_to product_path(product) do %>
                <%= attachment_image_tag product, :image, format: 'jpeg', fallback: "sample_no_image.jpg", size: "240x240" %>
              <% end %><br>
              <div class=".c-genres-text">
                <%= product.name %><br>
                <%= product.price.to_s(:delimited) %>円
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- ページネーション機能 -->
  <div class='row mt-3'>
    <div class="col">
      <div class="d-flex align-items-center justify-content-center">
        <%= paginate @genre_page %>
      </div>
    </div>
  </div>
</div>
