<header>
  <nav class="navbar navbar-expand-lg header-navigation-container fixed-top">
    <a href="/"><%= image_tag 'header_logo.png', size: '130x45', class: "navbar-brand", alt: "ヘッダーロゴ" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav nav-list">
        <% if customer_signed_in? %>
          <li class="nav-item nav-list-item"><%= link_to'マイページ', users_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"商品一覧", products_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"カート", cart_products_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"ログアウト", destroy_customer_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-item nav-list-item is-active"><%= link_to'About', about_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"商品一覧", products_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"新規登録", new_customer_registration_path %></li>
          <li class="nav-item nav-list-item"><%= link_to"ログイン", new_customer_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>