<!DOCTYPE html>
<html>

<head>
  <title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if request.fullpath.include?("admin") %>
    <%= render 'layouts/admins_header' %>
  <% elsif request.fullpath.include?("search") %>
    <%= render 'layouts/admins_header' %>
  <% else%>
    <%= render 'layouts/customers_header' %>
  <% end %>

  <main>
    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
</body>

</html>